<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">
        <title>Heart</title>
    </head>
    <body>


        <div class="container">
            <h1>Heart_Deases_Prediction</h1>
            <div classes ="row">
                <h5>{{predict_res}}</h5>
            </div>
            <div class="row">
            <form action="{{ url_for('prediction')}}" method ="POST" >
                <div class="form-group">
                    <label>AGE</label>
                    <input type="number" class="form-control"  name="age" placeholder="Enter age">
                </div>
                <div class="form-group">
                    <label >Gender</label>
                    <select name="sex" id="sex" class="form-control">
                       <option value="1">Male</option>
                       <option value="0">Female</option>
                     </select>
                 </div>
                <div class="form-group">
                    <label>CP</label>
                    <input type="number" class="form-control"  name="cp" placeholder="Enter cp">
                </div>
                <div class="form-group">
                    <label>trtbps</label>
                    <input type="number" class="form-control"  name="trtbps" placeholder="Enter trtbps">
                </div>
                <div class="form-group">
                    <label>chol</label>
                    <input type="number" class="form-control"  name="chol" placeholder="Enter chol">
                </div>
                <div class="form-group">
                    <label>fbs</label>
                    <input type="number" class="form-control"  name="fbs" placeholder="Enter fbs">
                </div>
                <div class="form-group">
                    <label>restecg</label>
                    <input type="number" class="form-control"  name="restecg" placeholder="Enter restecg">
                </div>
                <div class="form-group">
                    <label>thalachh</label>
                    <input type="number" class="form-control"  name="thalachh" placeholder="Enter thalachh">
                </div>
                <div class="form-group">
                    <label>exng</label>
                    <input type="number" class="form-control"  name="exng" placeholder="Enter exng">
                </div>
                <div class="form-group">
                    <label>oldpeak</label>
                    <input type="text" class="form-control"  name="oldpeak" placeholder="Enter oldpeak">
                </div>
                <div class="form-group">
                    <label >slp</label>
                    <input type="number" class="form-control"  name="slp" placeholder="Enter slp">
                </div>
                <div class="form-group">
                    <label>caa</label>
                    <input type="number" class="form-control"  name="caa" placeholder="Enter caa">
                </div>
                <div class="form-group">
                    <label >thall</label>
                    <input type="number" class="form-control"  name="thall" placeholder="Enter thall">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>
    </body>
</html>